@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}

.tabbar-item-no-bg>div {
    background: none !important;
}

.list-disc {
    list-style-type: disc;
    padding-left: 1.5em;
}

.list-inside {
    list-style-position: inside;
}